.nav-link::first-letter {
  text-transform: uppercase;
}

li span {
  float: right;
}

.fw-bold {
  font-weight: 700;
}

@media (max-width: 450px) {
  .nav-tabs .nav-link {
    font-size: 14px;
    padding: .5rem .7rem;
  }
}